table#grid td#column-3 #exxo-employee-list {text-align: left;}
.exxo-employee-block {margin-right: 10px; margin-bottom: 20px;}
#tableContainer {width: 90%; margin-bottom: 20px;}
#searchContainer { margin-bottom: 10px;}