.exxo-table-container {font-size: 14px; width: 75%}
.exxo-table .one {font-size: 16px;}
.upTable {color: #3C3D58;background-color: #E2E4EE;padding: 6px; padding-left: 10px; font-size: 12px;}
#content {position: relative;padding: 0px;margin: 0px 10px;width: 96%;}