#plus {margin: 10px; margin-left: 15px; font-size: 12px;}
#plus a {color:#5b677d; text-decoration: none;}
#empsWithRole {font-size: 12px;}
#tableContainer {width: 90%; border: 1px solid #dedede; border-bottom-color: #bfbfbf;}
table.exxo-table .five {width: 20%; text-align: center;}
.six {text-align: center;}
